:root {
  --body-text: rgb(25, 25, 25);
  --header-color: rgb(63, 81, 181);
  --header-text: rgb(255, 255, 255);
  --secondary-color: rgb(91, 109, 214);
  --theme-color: rgb(255, 82, 82);
}

#content {
  animation: fade-in ease 3s;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 
              0 2px 20px 0 rgba(0, 0, 0, 0.1) inset;
  border: medium none var(--body-text);
  height: 80%;
  margin: 25px 25px 25px 25px;
  -webkit-animation: fade-in ease 3s;
}

#navbar button {
  background-color: var(--header-color);
  color: var(--header-text);
}

#navbar button.active {
  background-color: var(--secondary-color);
}

#navbar button:hover {
  background-color: var(--secondary-color);
}

.body-text {
  color: var(--body-text);
}

.header {
  color : var(--theme-color);
  margin: auto;
  width: 75%;
}

/* .mdl-grid {
  margin: auto;
  width: 75%;
} */

.sort {
  background-color: var(--header-color);
  color: var(--header-text);
  margin-right: 60px;
}

.title {
  color : var(--theme-color);
  font : bold;
}


@keyframes fade-in { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
