:root {
  --body-text: rgb(25, 25, 25);
  --header-color: rgb(63, 81, 181);
  --header-text: rgb(255, 255, 255);
  --theme-color: rgb(255, 82, 82);
}

<<<<<<< HEAD
.body {
  margin: auto;
  width: 75%;
}

.body-text {
  color: var(--body-text);
}

.header {
  color : var(--theme-color);
  margin: auto;
  width: 75%;
}

.title {
  color : var(--theme-color);
  font : bold;
}

button {
  background-color: var(--header-color);
  color: var(--header-text);
}
=======
.sort {
  background-color: var(--header-color);
  color: var(--header-text);
  margin-right: 20px;
}

>>>>>>> origin/devel
