:root {
  --theme-color: rgb(255,82,82);
  --background-color: rgb(248, 248, 248);
  --text-color: rgb(255, 119, 90);
  --high-light: rgb(255, 237, 237);
}

#avatar {
  background-color: white;
  color: var(--theme-color); 
}

#list-frame {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#loading {
  padding: 5px;
  width: 100%;
}

#scroll-div {
  background-color: var(--background-color);
  height: 80%;
  max-height: 70vh;
  overflow-y: auto;
}

.cell-name {
  color: var(--theme-color);
  margin: 0;
}

.material-icons {
  font-size: 15px;
}

.mdl-list {
  background-color: white;
}

.mdl-list__item--three-line {
  height: 98px;
}

.mdl-list__item--three-line .mdl-list__item-secondary-content {
  background-color: var(--text-color);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  height: auto;
  padding: 3px 3px 3px 3px;
}

.list-item:hover {
  background-color: var(--high-light);
  cursor: pointer;
}

.side-prop {
  height: 100%;
}
